body {
  margin: 20%;
  margin-top: 5%;
  position: inherit;
  transform: none;
  text-align: left;
  overflow-wrap: anywhere;
}

p {
  text-align: left;
}

img {
  display: block;
  max-height: 45vh;
  image-orientation: from-image;
  -webkit-box-shadow: -14px 21px 28px -2px rgba(135, 135, 135, 0.34);
  -moz-box-shadow: -14px 21px 28px -2px rgba(135, 135, 135, 0.34);
  box-shadow: -14px 21px 28px -2px rgba(135, 135, 135, 0.34);
}

h2,
h3 {
  margin-bottom: 0px;
  margin-block-start: 0;
}

h2 {
  margin-top: 30px;
}
